@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper { width: 90%; }

.mainHedaer, .subheader {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.dropdown-menu { 
  width: 100%;
  padding: 10px 20%;
  display: none; 
  position: absolute;
  top:20px;
  z-index: 1;
  background-color: #fff; 
  text-align: center;
}

.subheader .dropdown-menu { background-color: #3361b6;  }

.dropdown-menu li { 
  margin: 5px 1%; 
  display: block;
}

nav li, .subheader li{  margin-left: 5%; }

.menuOne, .menuTwo { width: 76%; }

.hamburgerOne { display: none; }

.subheader-section { background-color: #3361b6; }

nav a { color: #666; }

.subheader a { color: #fff; }

.icons { 
  position: absolute;
  top:18px;
  right: 0;
}

.icons .Search {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icons a { color: #ccc; }

.dropdown {
  position: relative;
}

.dropdown a:hover +  .dropdown-menu{
  display: block;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

h2 { 
  margin-bottom: 20px;
  font-size: 35px;
}

h3 { 
  margin-bottom: 18px;
  font-size: 32px;
}

h4 { 
  margin-bottom: 16px;
  font-size: 30px;
 }

h3, h4 { color: #666; }

p {
 color: #636164; 
 line-height: 22px;
}
/*banner styling start*/

.banner { 
  padding-bottom: 496px;
  background: linear-gradient(to right, #26348c , #26348c , #46446e , #883a48);
  color: #fff;
}

.banner .wrapper { 
  width: 100%;
  position: relative;
}

.banner .wrapper + span{ position: absolute; }

.contact {
  width: 24%;
  padding: 13px 2%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #020001;
}

.contact li:first-child { margin-right: 6%; }

.contact li:first-child:before {
  content: '\f095';
  color: #fff;
}

.contact li:last-child:before {
  content: '\f003';
  color: #fff;
  }

.contact a { color: #fff; }

.banner .wrapper + span {
  position: absolute;
}

.bannerspan { 
  padding: 4px 1%;
  position: absolute;
  top: 13px;
  left: 5%;
  background: #f5f4fa;
  color: #666;
  font-size: 14px;
}

 .digital-business{
  width: 50%;
  position: absolute;
  top: 106px;
  left: 13%;
 }

.digital-business p { 
  margin-bottom :24px;
  font-size: 18px; 
  color: #ccc;
}

.digital-business a {
  width: 25%;
  padding: 7px 0;
  margin-top: 24px;
  border: 3px solid #fff;
  display: block;
  color: #fff;
  text-align: center;
}

.digital-business span:only-child {
  font-size: 48px;
}
/*banner styling end*/

/*digitalTransformation styling start*/

.digitalTransformation { 
  padding: 84px 0 81px;
  margin-bottom: 83px;
  background-color: #f1f2f6; 
}

.digitalTransformation ul {
  display: flex;  
  justify-content: space-between;
}

.digitalTransformation img { max-width: 385px; }

.digitalTransformation li:first-child { width: 60%; }

.digitalTransformation li:last-child { width: 40% }

.digitalTransformation  p { 
  width: 82%;
  margin-bottom: 25px;
}

.digitalTransformation a {
  width: 90%;
  line-height: 22px;
  color: #7e91ad;
}

/*digitalTransformation styling end*/
/*producys section start*/

.products h3 + p{
  padding-bottom: 19px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.products ul {
  display: flex;
  flex-direction:column;
  margin-bottom: 74px;
}

.products li { 
  padding-bottom: 30px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.products figure:first-of-type { width:10%; }

.products figure:first-of-type img { max-width: 66px; }

.products li div { width:60%; }

.products figure:last-of-type  { width:30%; }

.products figure:last-of-type img { max-width: 290px; }

.products li p { width: 85%; }

.products a { 
  margin-top: 18px;
  color: #7e91ad;
}


/*product section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for remove hover below 1024px*/
@media only screen and (min-width: 1024px){

  nav a:hover { color: #3361b6; }

  .subheader a:hover { color: #ccc;  }

  .icons a:hover, .contact a:hover { color: #666; }

  .digital-business a:hover {
    border: 3px solid #ccc;
    background-color: #fff;
    color: #26348c;
  }

  }

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  